<div class="hide blueprint-comment">
  <li>
    <div class='comment-block'>
      <img class="user-comment-image" style="
    width: 40px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border: solid 1px #171a1d; left: 23px; top: 0; z-index: 4;" src= '<%= current_user.avatar_url %>' />
      <h4>
        You
      </h4>
      <h6>
        Just now
      </h6>
      <p class="comment-message">
      </p>
    </div>
  </li>
</div>

<ul class="comment-group">
  <% @comments.order(:created_at).each do |comment| %>
    <li class="comment-<%= comment.id %>">
      <div class='comment-block'>
        <img class="user-comment-image" src= '<%= comment.commenter&.avatar_url %>' style="
    width: 40px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border: solid 1px #171a1d; left: 23px; top: 0; z-index: 4;"/>
        <h4>
          <%= comment.commenter == current_user ? 'You' : comment.commenter&.full_name %>
        </h4>
        <h6>
          <%= comment.created_at %>
        </h6>
        <p class="comment-message">
          <%= comment.message %>
        </p>
      </div>
    </li>
  <% end %>
</ul>
<div class="comment-holder">
  <textarea class="emoji-decorated comment-editor comment-input__input comment-textarea" data-emojiable="true" data-emoji-input="unicode" data-commentable-type="<%= @commentable_type %>" data-commentable-id="<%= @commentable_id %>"></textarea>
  <div class="add-remove-comment">
    <button class='btn btn-link cursor add add-card-comment'>Add my comment </button>
    <span class="or">or</span>
    <button type="button" class="btn btn-link cursor cancel clear-textarea">cancel</button>
    <!-- <span class='cursor cancel clear-textarea'> cancel</span> -->
  </div>
</div>
