  <p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-2">
    <h3>Tags ( <%= current_user.projects.tag_counts.count %>)</h3>
    <ul class="list-group">
      <% tag_cloud current_user.projects.tag_counts, %w[s m l] do |tag, css_class| %>
        <li class="list-group-item"><%= link_to tag.name, tag_path(tag.name), class: css_class %> </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-10">
    <h1>Projects</h1>
    <div class="row">
      <div class="aa-input-container" id="aa-input-container">
          <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search for players or teams..." name="search" autocomplete="off" />
          <svg class="aa-input-icon" viewBox="654 -372 1664 1664">
              <path d="M1806,332c0-123.3-43.8-228.8-131.5-316.5C1586.8-72.2,1481.3-116,1358-116s-228.8,43.8-316.5,131.5  C953.8,103.2,910,208.7,910,332s43.8,228.8,131.5,316.5C1129.2,736.2,1234.7,780,1358,780s228.8-43.8,316.5-131.5  C1762.2,560.8,1806,455.3,1806,332z M2318,1164c0,34.7-12.7,64.7-38,90s-55.3,38-90,38c-36,0-66-12.7-90-38l-343-342  c-119.3,82.7-252.3,124-399,124c-95.3,0-186.5-18.5-273.5-55.5s-162-87-225-150s-113-138-150-225S654,427.3,654,332  s18.5-186.5,55.5-273.5s87-162,150-225s138-113,225-150S1262.7-372,1358-372s186.5,18.5,273.5,55.5s162,87,225,150s113,138,150,225  S2062,236.7,2062,332c0,146.7-41.3,279.7-124,399l343,343C2305.7,1098.7,2318,1128.7,2318,1164z" />
          </svg>
      </div>
      <%= link_to 'New Project', new_project_path, class: "btn btn-outline-success" %>
    </div>

    </br>

    <div class="row" id='project-list'>
      <% @projects.each do |project| %>
      <div class="col-sm-3">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title"><%= project.title %></h4>
            <p><%= project.description %></p>
            <p><a href="#" role="button"><%= link_to 'Show', project_path(project), class: "btn btn-primary" %></a>
            <a href="#" role="button"><%= link_to 'Edit', edit_project_path(project), class: "btn btn-default" %></a>
            <a href="#" role="button"><%= link_to 'Destroy', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></a>
            </p>
            <p> Tags: <%= raw project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
    <script type="text/javascript">
      var client = algoliasearch("FX5ZZE6G1R", "bcac623b0ae454a42a03938910937fda");
      var index = client.initIndex('Project');
      //initialize autocomplete on search input (ID selector must match)
       $('#aa-search-input').autocomplete(
        {hint: false}, [
        {
          source: $.fn.autocomplete.sources.hits(index, { hitsPerPage: 5 }),
          //value to be displayed in input control after user's suggestion selection
          displayKey: 'title',
          //hash of templates used when rendering dataset
          templates: {
            //'suggestion' templating function used to render a single suggestion
            suggestion: function(suggestion) {
              console.log("<a href=/projects/"+suggestion.objectID +'>' + suggestion._highlightResult.title.value + '</a>');
              return "<a href=/projects/"+ suggestion.objectID +'>' + suggestion._highlightResult.title.value + '</a>';
            }
          }
        }
      ]).on('autocomplete:selected', function(event, suggestion) {
          $('#project-list').html(
            '<div class="col-sm-3"><div class="card" style="width: 20rem;"><p> Project ID : '+ suggestion.objectID +
            '</p><div class="card-block">'+
                  '<h4 class="card-title">'+ suggestion.title +'</h4>'+
                  '<p>'+suggestion.description+'</p>'+
                  '<p>'+ '<a href=/projects/'+ suggestion.objectID +'  role="button"> show</a></p></div></div></div>');
        })
    </script>
